{% layout "layout.liquid" %}
{% block content %}

<div class="welcome-div">
    <h1>
        <div class="welcome-d20">
            <i class="fa-solid fa-dice-d20"></i>
        </div>
        Welcome to TTRPG Tracker, </br>
        an app to keep track of your Tabletop RPG books! </br>
        If it's your first time, </br>
        click Sign Up in the header, </br>
        Otherwise click Sign In. 
        <div class="welcome-d20">
            <i class="fa-solid fa-dice-d20"></i>
        </div>
    </h1>
</div>


{% endblock %}