body {
    background-color: #181c20;
}

.nav-link {
    color: #818894;
    font-family: Helvetica; 
}

.navbar-brand {
    font-family: Helvetica; 
    font-size: 25px

}

.display-6 {
    color: white; 
}

.show-h5 {
    color: white;
}

.game-header {
    color: white;
}

.form-label {
    color: white;
}

.form-control-file {
    color: white;
}

.index-img {
    width: 100%;
}

.card-body {
    text-align: center;
}

.edit-page-buttons {
    text-align: center;
}