@font-face {
    font-family: "Basteleur";
    src: url("public/Basteleur-Bold.woff") format("woff"),
  }

body {
    background-color: #181c20;
}

h1 {
    color: white;
}

.navbar-brand {
    font-family: 'Basteleur', sans-serif;
    font-size: 25px;

}

.nav-link {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: slategrey;
}

.card-title {
    font-family: 'Basteleur', sans-serif;
    font-size: 30px;
}

.card-text {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 300;
    padding-left: 25px;
    text-align: left;
}

.tab-content {
    font-family: 'Oswald', sans-serif; 
    font-weight: 300;
    font-size: 18px;
}

.edit-delete-form {
    text-align: center;
}

.text-start {
    font-family: 'Oswald', sans-serif; 
    font-weight: 700;
}

.comment-submit {
    text-align: right;
}

.align-self-start {
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    font-size: 20px;
}

.align-self-end {
    padding: 12px;
    text-align: left;
}

.display-6 {
    font-family: 'Oswald', sans-serif; 
    color: white; 
    font-weight: 300;
}

.show-h5 {
    color: white;
}

.game-header {
    color: white;
}

.form-label {
    color: white;
}

.form-control-file {
    color: white;
}

.card-img-top {
    width: 100%;
}

.card-body {
    text-align: center;
}

.edit-page-buttons {
    text-align: center;
}

.btn-close {
    float: right;
}

.index-section {
    color: white;
}

.vr {
    color: white;
}

.btn {
    font-family: 'Oswald', sans-serif; 
    font-weight: 700;
}

.error {
    font-family: 'Oswald', sans-serif; 
}