{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/games" method="POST">
        <fieldset>
            <legend class="game-header">Add New Game</legend>
            <p><label class="form-label">Image: </label></p>
            <p>
            <input 
                type="file" 
                name="img" 
                class="form-control-file"
            ></p>
            <p><label class="form-label">Name: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="enter name"
                class="form-control"
            ></p>
            <p><label class="form-label">Description:</label>
            <textarea type="text" name="description" placeholder="enter description" rows="3"class="form-control"></textarea>
            </p>
            <p><label class="form-label">System:</label>
            <input 
                type="text" 
                name="system" 
                placeholder="enter system" 
                class="form-control"
            ></p>
            <label class="form-label">Genres:</label>
            <input 
                type="text" 
                name="genres" 
                placeholder="enter genres (separate with a comma)" 
                class="form-control"
            ></p>
            <p><label class="form-label">Creators:</label>
            <input 
                type="text" 
                name="creators" 
                placeholder="enter creators (separate with a comma)" 
                class="form-control"
            ></p>
            <p><label class="form-label">Publisher:</label>
                <input 
                    type="text" 
                    name="publisher" 
                    placeholder="enter publisher" 
                    class="form-control"
                ></p>
            <p><label class="form-label">Types:</label>
            <input 
                type="text" 
                name="types" 
                placeholder="enter types such as GM, GM-Less, Solo, Module, Supplement etc. (separate with a comma)" 
                class="form-control"
            ></p>
            <p><label class="form-label">Players:</label>
            <input 
                type="text" 
                name="players" 
                placeholder="enter # of players needed" 
                class="form-control"
            ></p>
        </fieldset>
        <input type="submit" value="Add New Game" class="btn btn-success">
    </form>
</div>
{% endblock %}