{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/examples" method="POST">
        <fieldset>
            <legend>Create New Example</legend>
            <label class="form-label">Title: </label>
            <input 
                type="text" 
                name="title" 
                placeholder="enter example title"
                class="form-control"
            >
            <label class="form-label">Body:</label>
            <input 
                type="text" 
                name="body" 
                placeholder="enter example body" 
                class="form-control"
            >
            <label class="form-label">Amount:</label>
            <input 
                type="number" 
                name="amount" 
                class="form-control"
            >
            <label class="form-label">Ready:</label>
            <input 
                type="checkbox" 
                name="ready" 
                class="form-check-input"
            >
        </fieldset>
        <input type="submit" value="Create New Example" class="btn btn-success">
    </form>
</div>
{% endblock %}